/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {   
    border: sandybrown 1px solid;
    border-radius: 1rem;
    width: 400px;
    color:blue;   
    padding: 20px;
    margin: 10px auto 
 }